body{
	background-color: #232323;
	text-transform: uppercase;
}

h1{
	color: white;
}

.square{
	width: 30%;
	background-color: grey;
	padding-bottom: 30%;
	float: left; 
	margin: 1.66%;
}

.hardSquare{
	width: 30%;
	background-color: grey;
	padding-bottom: 30%;
	float: left; 
	margin: 1.66%;
}

.selectedMode{
	background-color: blue;
}

#squareContainer{
	margin: 0 auto;
	max-width: 600px;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
}

