<%- include("partials/header") %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to NookCamp!</h1>
			<p>Animal Crossing New Horizon Islands</p>	
		</div>
	</header>

	<p><%= island.name %> - <%= island.owner %> - <%= island.zone %></p>
</div>