<%- include("partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to NookCamp!</h1>
			<p>Animal Crossing New Horizon Villagers Wiki</p>	
		</div>
	</header>
	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% villagers.forEach(function(villager){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= villager.image %>">
					<div class="caption">
						<h4><%= villager.name %></h4>
					</div>
				</div>				
			</div>
		<% }); %>
	</div>	
</div>
<%- include("partials/footer") %>